<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <UseDateTimeOffset>false</UseDateTimeOffset>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2007/XMLSchema-versioning" Clr="W3C.XmlSchema.Versioning" />
    <Namespace DefaultVisibility="public" Schema="urn:LinqToXsdCore:Xml.Schema.Linq.CodeGen" Clr="Xml.Schema.Linq.CodeGen" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
</Configuration>