<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <UseDateTimeOffset>false</UseDateTimeOffset>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Clr="ObjectRoleModelling.Xml" Schema="" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
</Configuration>