<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <!--The @DefaultVisibility attribute controls the access modifier on generated class code. Only 'public' and 'internal' are acceptable values. Unrecognised values default to 'public'.-->
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema" Clr="www.w3.org.2001.XMLSchema" />
    <Namespace DefaultVisibility="public" Schema="http://schemas.openxmlformats.org/officeDocument/2006/bibliography" Clr="schemas.openxmlformats.org.officeDocument.2006.bibliography" />
    <Namespace DefaultVisibility="public" Schema="http://schemas.openxmlformats.org/officeDocument/2006/sharedTypes" Clr="schemas.openxmlformats.org.officeDocument.2006.sharedTypes" />
    <!--Add more of your own XML Schema-to-CLR namespace mapping elements here-->
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>