<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="urn:cidx:names:specification:ces:schema:all:5:3" Clr="cidx.names.specification.ces.schema.all" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>