<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace Schema="http://www.microsoft.com/xml/schema/linq" Clr="Xml.Schema.Linq" DefaultVisibility="internal" />
  </Namespaces>
  <Validation>
  	<VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation xmlns="http://www.microsoft.com/FXT">
  	<Deanonymize strict="true" />
  </Transformation>
</configuration>