<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <UseDateTimeOffset>false</UseDateTimeOffset>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <!--The @DefaultVisibility attribute controls the access modifier on generated class code. Only 'public' and 'internal' are acceptable values. Unrecognised values default to 'public'.-->
    <Namespace DefaultVisibility="public" Schema="http://www.sbml.org/sbml/level2/version5" Clr="SBML.Level2.Version5" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/1998/Math/MathML" Clr="MathML" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/1999/xlink" Clr="XLink" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema-instance" Clr="W3C.XmlSchema.Instance" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema" Clr="W3C.XmlSchema" />
    <!--Add more of your own XML Schema-to-CLR namespace mapping elements here-->
  </Namespaces>
  <NullableReferences>false</NullableReferences>
</Configuration>