<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <NullableReferences>false</NullableReferences>
    <SplitCodeFiles By="Namespace" />
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Clr="Default" Schema="" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>