<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.omg.org/spec/XMI/20110701" Clr="Omg.Specifications.XMI" />
    <Namespace DefaultVisibility="public" Schema="https://www.omg.org/spec/SBVR/20190601" Clr="Omg.Specifications.SBVR" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>