<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://linqtoxsd.schemas.org/test/base-props-types.xsd" Clr="LinqToXsd.Schemas.Test.BasePropsTypes" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>
