<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.microsoft.com/xml/schema/linq" Clr="Xml.Schema.Linq" />
    <Namespace DefaultVisibility="public" Schema="" Clr="XObjectsTests.Schemas.Opml" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>