<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <SplitCodeFiles By="Namespace" />
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" Clr="www.nhsia.nhs.uk.DataStandards.XMLschema.CDS.ns" />
    <Namespace DefaultVisibility="public" Schema="http://purl.org/dc/elements/1.1/" Clr="purl.org.dc.elements.1.1" />
    <Namespace DefaultVisibility="public" Schema="http://purl.org/dc/terms/" Clr="purl.org.dc.terms" />
    <Namespace DefaultVisibility="public" Schema="http://www.govtalk.gov.uk/CM/gms" Clr="www.govtalk.gov.uk.CM.gms" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>