<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2005/Atom" Clr="AtomSyndication" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>