<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <!--The @DefaultVisibility attribute controls the access modifier on generated class code. Only 'public' and 'internal' are acceptable values. Unrecognised values default to 'public'.-->
    <Namespace DefaultVisibility="public" Schema="http://example.org/AbstractTest" Clr="LinqToXsd.Schemas.AbstractTypeTest" />
    <!--Add more of your own XML Schema-to-CLR namespace mapping elements here-->
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>