<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema" Clr="cellml.w3.org.XMLSchema" />
    <Namespace DefaultVisibility="public" Schema="http://www.cellml.org/cellml/1.1#" Clr="www.cellml.org.cellml11" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/1998/Math/MathML" Clr="cellml.w3.org.Math.MathML" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/1999/xlink" Clr="cellml.w3.org.xlink" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>