<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <UseDateTimeOffset>false</UseDateTimeOffset>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/XML/1998/namespace" Clr="W3C.Xml" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema" Clr="W3C.Xml.Schema" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/1999/xhtml" Clr="W3C.Xhtml" />
  </Namespaces>
  <NullableReferences>false</NullableReferences>
</Configuration>