<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <UseDateOnly>false</UseDateOnly>
    <UseTimeOnly>false</UseTimeOnly>
    <UseDateTimeOffset>false</UseDateTimeOffset>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces AlwaysPrefixGlobal="true">
    <!--The @DefaultVisibility attribute controls the access modifier on generated class code. Only 'public' and 'internal' are acceptable values. Unrecognised values default to 'public'.-->
    <Namespace DefaultVisibility="public" Schema="urn:iso:15118:2:2010:AppProtocol" Clr="LinqToXsd.Schemas.Tests.GithubIssue71.urn.iso_15118_2_2010.AppProtocol" />
    <!--Add more of your own XML Schema-to-CLR namespace mapping elements here-->
  </Namespaces>
  <NullableReferences>false</NullableReferences>
</Configuration>