<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
    <NullableReferences>false</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://release.niem.gov/niem/niem-core/5.0/"
      Clr="NiemGov.Core" />
    <Namespace DefaultVisibility="public" Schema="http://release.niem.gov/niem/appinfo/5.0/"
      Clr="NiemGov.Appinfo" />
    <Namespace DefaultVisibility="public" Schema="http://reference.niem.gov/niem/specification/code-lists/5.0/code-lists-instance/"
      Clr="NiemGov.Reference.Specification.Code.Lists" />
    <Namespace DefaultVisibility="public" Schema="http://release.niem.gov/niem/conformanceTargets/3.0/"
      Clr="NiemGov.Conformancetargets.3.0" />
    <Namespace DefaultVisibility="public" Schema="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
      Clr="NiemGov.Proxy" />
    <Namespace DefaultVisibility="public" Schema="http://release.niem.gov/niem/structures/5.0/"
      Clr="NiemGov.Structures" />
    <Namespace DefaultVisibility="public" Schema="http://www.w3.org/XML/1998/namespace"
      Clr="W3C.Xml" />
    <!-- <Namespace DefaultVisibility="public" Schema="http://www.w3.org/2001/XMLSchema-instance"
      Clr="W3C.Xml.Schema" /> -->
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>