<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <!--The @DefaultVisibility attribute controls the access modifier on generated class code. Only 'public' and 'internal' are acceptable values. Unrecognised values default to 'public'.-->
    <Namespace DefaultVisibility="public" Schema="http://www.opengis.net/3dps/1.0/info" Clr="OpenGis.ThreeDps.Info" />
    <Namespace DefaultVisibility="public" Schema="http://www.opengis.net/3dps/1.0/core" Clr="OpenGis.ThreeDps.Core" />
    <Namespace DefaultVisibility="public" Schema="http://www.opengis.net/ows/2.0" Clr="OpenGis.Ows" />
    <Namespace DefaultVisibility="public" Schema="http://www.opengis.net/3dps/1.0/view" Clr="OpenGis.ThreeDps.View" />
    <!--Add more of your own XML Schema-to-CLR namespace mapping elements here-->
  </Namespaces>
  <NullableReferences>false</NullableReferences>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>