<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <CodeGeneration>
	<NullableReferences>true</NullableReferences>
  </CodeGeneration>
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="urn:test:namespace1" Clr="urn.test.namespace1" />
    <Namespace DefaultVisibility="public" Schema="urn:test:namespace2" Clr="urn.test.namespace2" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>