<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace Schema="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" Clr="W3C.XSD.Facets" />
    <Namespace Schema="http://www.w3.org/2001/XMLSchema" Clr="W3C.XSD" />
    <Namespace Schema="http://www.w3.org/XML/1998/namespace" Clr="W3C" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>