<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace Schema="http://www.microsoft.com/xml/schema/linq" Clr="Xml.Schema.Linq" />
  </Namespaces>
  <Validation>
  	<VerifyRequired>true</VerifyRequired>
  </Validation>
  <Transformation xmlns="http://www.microsoft.com/FXT">
  	<Deanonymize strict="true" />
  </Transformation>
</Configuration>